*{
	padding: 0;
	margin: 0;

}
body{
	background: linear-gradient(to right, #f7f3e9, #a3d2ca);
	height: 100vh;
}
.slides input{
	display: none;
}
.slider-container{

	display: flex;
	justify-content: center;
	align-content: center;
}
.slider{
	width: 800px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;  
}
.slides{
	width: 500%;
	height: 500px;
	display: flex;
}
.slide{
	width: 20%;
	transition: 1s;
}
.slide img{
	width: 800px;
	height: 500px;

}

.manual-nav{
	position: absolute;
	width: 800px;
	display: flex;
	justify-content: center;
	margin-top: -50px;

}
.manual-nav .manual-btn{
	border: 2px solid #f05945;
	border-radius: 50%;
	padding: 6px;
	cursor: pointer;
	transition: 1s;

} 
.manual-nav .manual-btn:not(:last-child){
	margin-right: 20px;
}
.manual-nav .manual-btn:hover{
	background-color: #f05945;
}
.manual-nav .manual-btn:active{
	background-color: #f05945;
}

.next-btn{
	position: absolute;
	top: 40%;
	right: 25%;
	color: #d8ac9c;
	font-size: 30px;
}
.prev-btn{
	position: absolute;
	top: 40%;
	left: 25%;
	color: #d8ac9c;
	font-size: 30px;
}
.next-btn:hover,.prev-btn:hover{
	color: white;
	cursor: pointer;

} 